{% extends 'home.html' %}
{% load static %}

{% block tittle %} Perfil de {{ cView.cliente }} {% endblock %}

{% block content %}

<div class="user">
    <h3>{{ cView.cliente }}</h3>
    
    <fieldset>
        <legend>Dados Pessoais:</legend>
        <label for="">Número de Telefone:</label>
        <span>{{ cView.contato }}</span>

        <label for="">Endereço:</label>
        <span>{{ cView.endereco }}</span>

        <label for="">E-mail:</label>
        <span>{{ cView.email }}</span>

        <label for="">Observações:</label>
        <span>{{ cView.observacoes }}</span>
    </fieldset>

    <div class="links">
        <a href="{% url 'clienteEdit' id=cView.id %}">Editar</a>
        <a href="{% url 'clienteDel' id=cView.id %}">Excluir</a>
        <a href="{% url 'user' %}">Voltar</a>
    </div>
</div>

{% endblock %}