{% extends 'home.html' %}
{% load static %}

{% block tittle %} Produto - {{ pView.produto }} {% endblock %}

{% block content %}


<div class="user">
    <h3>{{ pView.produto }}</h3>
    
    <fieldset>
        <legend>Informações do Produto:</legend>
        
        <label for="">Valor Total Faturado:</label>
        <span>{{ pView.valorTotal }}</span>

        <label for="">Valor Base deste Produto:</label>
        <span>{{ pView.valorBase }}</span>

        <label for="">Adicionado:</label>
        <span>{{ pView.create }}</span>

        <label for="">Observações:</label>
        <span>{{ pView.notes }}</span>
    </fieldset>

    <div class="links">
        <a href="{% url 'produtoEdit' id=pView.id %}">Editar</a>
        <a href="{% url 'produtoDel' id=pView.id %}">Excluir</a>
        <a href="{% url 'user' %}">Voltar</a>
    </div>
</div>
{% endblock %}